:root {
  --BgColor: #131313;
  --Accent: #d4d4d4;
}
#theme-container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
}
#switch-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 15vw;
  height: 35%;
  border: 2px solid var(--Accent);
  background-color: var(--BgColor);
  border-radius: 5vw;
}
.switch {
  width: 7vw;
  height: 7vw;
  background-color: var(--Accent);
  border-radius: 50%;
  transition: transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
}

.scene {
  position: absolute;
  top: 50vw;
  left: 20vw;
  width: 60vw;
  height: 60vw;
  perspective: 600px;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s linear;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform 1s linear;
  -moz-transform-style: preserve-3d;
}

.cube-face {
  display: flex;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--Accent);
  color: var(--BgColor);
}

.face-front {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(0deg) translateZ(30vw);
  transform-style: preserve-3d;
}
.face-right {
  transform: rotateY(90deg) translateZ(30vw);
  transform-style: preserve-3d;
}
.face-back {
  transform: rotateY(180deg) translateZ(30vw);
}
.face-left {
  transform: rotateY(-90deg) translateZ(30vw);
}
.face-top {
  transform: rotateX(90deg) translateZ(30vw);
}
.face-bottom {
  transform: rotateX(-90deg) translateZ(30vw);
  transform-style: preserve-3d;
}
.name {
  font-size: 8vw;
  opacity: 0;
  animation: nameOpacity 2s ease-in forwards;
  animation-delay: 0.5s;
}
#title {
  position: relative;
  top: 5vw;
  font-size: 5vw;
  opacity: 0;
  animation: nameOpacity 2s ease-in forwards;
  animation-delay: 1s;
}

.click {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vw;
  transform: translate(-50%, -50%);
}
#about-text1 {
  position: absolute;
  left: 30%;
  top: 0;
  font-size: 7vw;
  animation: about-text 10s linear infinite;
  animation-delay: 0.85s;
}
#about-text2 {
  position: absolute;
  left: 47%;
  top: 0;
  font-size: 7vw;
  animation: me-text 10s linear infinite;
}
#projects-text1 {
  position: absolute;
  top: 25%;
  left: 30%;
  font-size: 3vw;
  animation: projectsText1 2s linear alternate infinite;
}

#projects-text2 {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 5vw;
  animation: projectsText2 2s linear alternate infinite;
  animation-delay: 0.5s;
}
#projects-text3 {
  position: absolute;
  top: 75%;
  left: 12%;
  font-size: 3.5vw;
  animation: projectsText3 1s linear alternate infinite;
  animation-delay: 0.75s;
}
#projects-text4 {
  position: absolute;
  top: 70%;
  left: 40%;
  font-size: 7vw;
  animation: projectsText4 2s linear alternate infinite;
  animation-delay: 1s;
}

#projects-text5 {
  position: absolute;
  top: 44%;
  left: 65%;
  font-size: 3vw;
  animation: projectsText5 1s linear alternate infinite;
  animation-delay: 1.25s;
}
#projects-text6 {
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 4.5vw;
  animation: projectsText6 1.5s linear alternate infinite;
  animation-delay: 1.5s;
}
#contact-text {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 6vw;
  animation: contactText 5s linear infinite;
}

#controls-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10vw;
  width: 100%;
  height: 20vh;
  background-color: transparent;
}
#contact-main-button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#projects-button,
#contact-button,
#about-button,
#main-button {
  color: var(--BgColor);
  background-color: var(--Accent);
  font-size: 5vw;
  font-family: Russo One;
  padding: 2vw;
  border: none;
  border-radius: 2.5vw;
  opacity: 0;
}
#projects-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 2s;
}
#contact-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 2.5s;
}
#about-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 3s;
}
#main-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 3.5s;
}
#projects-section {
  position: absolute;
  top: 30%;
  left: 38%;
  background-color: var(--BgColor);
  z-index: 5;
  animation: projectsSection 1.5s ease-in-out forwards;
}
#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: nameOpacity 0.25s linear forwards;
  animation-delay: 1.7s;
}
.flip-card {
  background-color: transparent;
  width: 40vh;
  height: 40vh;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BgColor);
  border: 1vw solid var(--Accent);
}
img {
  max-width: 100%;
  max-height: 100%;
}
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
#about-container1 {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--Accent);
  z-index: 5;
  animation: aboutContainer1 1s ease-in forwards;
}
#about-container2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--BgColor);
  z-index: 5;
  animation: aboutContainer2 1s ease-in forwards;
}
#about-title1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 12vw;
  top: 88%;
  color: var(--BgColor);
}
#about-title2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 12vw;
  top: 0%;
  color: var(--Accent);
}
#about-container1-text,
#about-container2-text {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5vw;
  font-size: 4.5vw;
}
#about-container1-text {
  border: 2px solid var(--BgColor);
  color: var(--BgColor);
}
#about-container2-text {
  border: 2px solid var(--Accent);
  color: var(--Accent);
}
#contact-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: var(--Accent);
  z-index: 5;
  animation: contactContainer 2s linear forwards;
}
#contact-container-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 20%;
  height: 100vh;
}
#contact-container-title-text {
  font-size: clamp(3.3rem, 14vw, 5.2rem);
  color: var(--BgColor);
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#form-container {
  position: absolute;
  top: 5%;
  width: 70%;
  right: 7.5%;
  height: 55vh;
  border: 2px solid var(--BgColor);
}
#links-container {
  position: absolute;
  top: 70%;
  width: 70%;
  right: 7.5%;
  height: 15vh;
  border: 2px solid var(--BgColor);
}
#close-button1,
#close-button2 {
  position: absolute;
  top: 90%;
  left: 46%;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: transparent;
  font-size: 5vw;
  font-family: Russo One;
}
#close-button1 {
  border: 0.7vw solid var(--Accent);
  color: var(--Accent);
}
#close-button2 {
  border: 0.7vw solid var(--BgColor);
  color: var(--BgColor);
}
#close-button-projects {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: transparent;
  font-size: 5vw;
  font-family: Russo One;
  border: 0.7vw solid var(--Accent);
  color: var(--Accent);
}
#tsparticles {
  position: absolute;
  z-index: -1;
}
@keyframes nameOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes about-text {
  0% {
    left: 30%;
    top: 0;
  }
  20% {
    left: 60%;
    transform: rotateZ(0deg);
  }
  21% {
    left: 75%;
    transform: rotateZ(90deg);
    top: 0;
  }
  40% {
    transform: rotateZ(90deg);
    left: 75%;
    top: 70%;
  }
  41% {
    top: 85%;
    transform: rotateZ(180deg);
  }
  60% {
    top: 85%;
    left: 0%;
    transform: rotateZ(180deg);
  }
  61% {
    transform: rotateZ(270deg);
    left: -10%;
  }
  80% {
    top: 10%;
    left: -10%;
    transform: rotateZ(270deg);
  }
  81% {
    left: 0%;
    top: 0;
    transform: rotateZ(360deg);
  }
  88% {
    transform: rotateZ(360deg);
    left: 3%;
    top: 0;
  }
  100% {
    transform: rotateZ(360deg);
    left: 30%;
    top: 0;
  }
}
@keyframes me-text {
  0% {
    left: 47%;
    top: 0;
  }
  20% {
    left: 83%;
    transform: rotateZ(0deg);
  }
  21% {
    transform: rotateZ(90deg);
    top: 0;
  }
  40% {
    transform: rotateZ(90deg);
    left: 83%;
    top: 85%;
  }
  41% {
    transform: rotateZ(180deg);
  }
  60% {
    top: 85%;
    left: 0;
    transform: rotateZ(180deg);
  }
  61% {
    transform: rotateZ(270deg);
  }
  80% {
    top: 0;
    left: 0;
    transform: rotateZ(270deg);
  }
  81% {
    transform: rotateZ(360deg);
  }
  85% {
    transform: rotateZ(360deg);
    left: 40%;
    top: 0;
  }
  100% {
    transform: rotateZ(360deg);
    left: 47%;
    top: 0;
  }
}
@keyframes projectsText1 {
  0% {
    transform: rotateZ(20deg) translateZ(0);
  }
  100% {
    transform: rotateZ(20deg) translateZ(50vw);
  }
}
@keyframes projectsText2 {
  0% {
    transform: rotateZ(-80deg) translateZ(0);
  }
  100% {
    transform: rotateZ(-80deg) translateZ(40vw);
  }
}
@keyframes projectsText3 {
  0% {
    transform: rotateZ(50deg) translateZ(0);
  }
  100% {
    transform: rotateZ(50deg) translateZ(30vw);
  }
}
@keyframes projectsText4 {
  0% {
    transform: rotateZ(-15deg) translateZ(0);
  }
  100% {
    transform: rotateZ(-15deg) translateZ(20vw);
  }
}
@keyframes projectsText5 {
  0% {
    transform: rotateZ(40deg) translateZ(0);
  }
  100% {
    transform: rotateZ(40deg) translateZ(20vw);
  }
}
@keyframes projectsText6 {
  0% {
    transform: rotateZ(-40deg) translateZ(0);
  }
  100% {
    transform: rotateZ(-40deg) translateZ(35vw);
  }
}
@keyframes nameOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contactText {
  0% {
    top: 0%;
    left: 0%;
    opacity: 1;
  }
  9% {
    top: 0%;
    left: 0%;
    opacity: 1;
  }
  10% {
    top: 0%;
    left: 0%;
    opacity: 0;
  }
  11% {
    top: 60%;
    left: 25%;
    opacity: 0;
  }
  12% {
    top: 60%;
    left: 25%;
    opacity: 1;
  }
  22% {
    top: 60%;
    left: 25%;
    opacity: 1;
  }
  23% {
    top: 60%;
    left: 25%;
    opacity: 0;
  }
  24% {
    top: 0%;
    left: 25%;
    opacity: 0;
  }
  25% {
    top: 0%;
    left: 25%;
    opacity: 1;
  }
  50% {
    top: 0%;
    left: 25%;
    opacity: 1;
  }
  51% {
    top: 0%;
    left: 25%;
    opacity: 0;
  }
  52% {
    top: 70%;
    left: 5%;
    opacity: 0;
  }
  53% {
    top: 70%;
    left: 5%;
    opacity: 1;
  }
  80% {
    top: 70%;
    left: 5%;
    opacity: 1;
  }
  81% {
    top: 70%;
    left: 5%;
    opacity: 0;
  }
  82% {
    top: 0%;
    left: 0%;
    opacity: 0;
  }
  89% {
    top: 0%;
    left: 0%;
    opacity: 0;
  }
  90%,
  100% {
    top: 0%;
    left: 0%;
    opacity: 1;
  }
}
@keyframes projectsSection {
  0% {
    width: 0;
    height: 0;
  }
  0.1% {
    width: 1vw;
    height: 1vw;
    border: 1.5vw solid var(--Accent);
    border-radius: 50%;
  }
  99% {
    border: 1.5vw solid var(--Accent);
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
  }
  100% {
    border: none;
    transform: translate(-38%, -15%);
    width: 100vw;
    height: 200vh;
    border-radius: 0%;
  }
}
@keyframes aboutContainer1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes aboutContainer2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes contactContainer {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(-50%);
  }
  40% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(-25%);
  }
  80% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (orientation: landscape) {
  .scene {
    perspective: 3000px;
  }
}
