:root {
  --BgColor: #131313;
  --Accent: #d4d4d4;
}
#theme-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 1;
}
#language-container {
  font-family: Russo One;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  padding: clamp(0.3rem, 0.6vw, 0.5rem);
  background-color: var(--Accent);
  color: var(--BgColor);
  border: none;
}
.language-options {
  font-size: inherit;
}

#switch-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 14%;
  height: 23%;
  border: 2px solid var(--Accent);
  background-color: var(--BgColor);
  border-radius: 5vw;
}
.switch {
  width: 7vw;
  height: 7vw;
  background-color: var(--Accent);
  border-radius: 50%;
  transition: transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
}
.scene {
  position: absolute;
  top: 50vw;
  left: 20vw;
  width: 60vw;
  height: 60vw;
  perspective: 600px;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform 1s ease;
  -moz-transform-style: preserve-3d;
}
.cube-face {
  display: flex;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--Accent);
  color: var(--BgColor);
}
.face-front {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(0deg) translateZ(30vw);
  transform-style: preserve-3d;
}
.face-right {
  transform: rotateY(90deg) translateZ(30vw);
  transform-style: preserve-3d;
}
.face-back {
  transform: rotateY(180deg) translateZ(30vw);
}
.face-left {
  transform: rotateY(-90deg) translateZ(30vw);
}
.face-top {
  transform: rotateX(90deg) translateZ(30vw);
}
.face-bottom {
  transform: rotateX(-90deg) translateZ(30vw);
  transform-style: preserve-3d;
}
.name {
  font-size: clamp(2rem, 7.5vw, 3rem);
  opacity: 0;
  animation: nameOpacity 2s ease-in forwards;
  animation-delay: 0.5s;
}
#title {
  position: relative;
  top: 5vw;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  opacity: 0;
  animation: nameOpacity 2s ease-in forwards;
  animation-delay: 1s;
}
.click {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: clamp(1rem, 5vw, 2rem);
  transform: translate(-50%, -50%);
}
#about-text {
  position: absolute;
  left: 0;
  top: 0;
  font-size: clamp(1rem, 6vw, 2rem);
  animation: about-text 5s linear infinite;
}
#projects-text1 {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: clamp(1rem, 6vw, 2rem);
  animation: projectsText1 5s linear infinite;
}
#projects-text2 {
  position: absolute;
  top: 18%;
  left: 72%;
  font-size: clamp(1rem, 6vw, 2rem);
  transform: rotateZ(90deg);
  animation: projectsText2 5s linear infinite;
}

#projects-text3 {
  position: absolute;
  top: 88%;
  left: 55%;
  font-size: clamp(1rem, 6vw, 2rem);
  transform: rotateZ(-180deg);
  animation: projectsText3 5s linear infinite;
}
#projects-text4 {
  position: absolute;
  top: 73%;
  left: -15%;
  transform: rotateZ(-90deg);
  font-size: clamp(1rem, 6vw, 2rem);
  animation: projectsText4 5s linear infinite;
}
#contact-text {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: clamp(1rem, 6vw, 2rem);
  animation: contactText 5s linear infinite;
}

#controls-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80%;
  width: 100%;
  height: 20vh;
  background-color: transparent;
}
#contact-main-button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#projects-button,
#contact-button,
#about-button,
#main-button {
  color: var(--BgColor);
  background-color: var(--Accent);
  font-size: 5vw;
  font-family: Russo One;
  padding: 2vw;
  border: none;
  border-radius: 2.5vw;
  opacity: 0;
}
#projects-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 2s;
}
#contact-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 2.2s;
}
#about-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 2.4s;
}
#main-button {
  animation: nameOpacity 0.5s linear forwards;
  animation-delay: 2.6s;
}
#projects-section {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--BgColor);
  z-index: 5;
  animation: projectsSection 1s ease forwards;
}
#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: nameOpacity 0.25s linear forwards;
  animation-delay: 1.1s;
}
#project-container-title {
  font-size: clamp(1.2rem, 6vw, 2.2rem);
}
#project-container-title-desktop {
  display: none;
}
#projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 90%;
}
.flip-card {
  background-color: transparent;
  width: 40vh;
  height: 40vh;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BgColor);
  border: clamp(0.4rem, 0.9vw, 1rem) solid var(--Accent);
}
img {
  max-width: 100%;
  max-height: 100%;
}
.flip-card-back {
  padding: 2vw;
  font-size: clamp(0.35rem, 4.65vw, 1.6rem);
  background-color: var(--Accent);
  color: var(--BgColor);
  transform: rotateY(180deg);
}
.project-name {
  font-size: clamp(1rem, 6vw, 3rem);
  text-align: center;
}
.project-details {
  list-style: none;
  line-height: normal;
}

#about-container1 {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--Accent);
  z-index: 5;
  animation: aboutContainer1 1s ease-in forwards;
}
#about-container2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--BgColor);
  z-index: 5;
  animation: aboutContainer2 1s ease-in forwards;
}
#about-title1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(2rem, 11vw, 3.5rem);
  top: 88%;
  color: var(--BgColor);
}
#about-title2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(2rem, 11vw, 3.5rem);
  top: 0%;
  color: var(--Accent);
}
#about-container1-text,
#about-container2-text {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: clamp(1rem, 4vw, 1.5rem);
  font-size: clamp(1rem, 4vw, 1.5rem);
}
#about-container1-text {
  border: 2px solid var(--BgColor);
  color: var(--BgColor);
}
#about-container2-text {
  border: 2px solid var(--Accent);
  color: var(--Accent);
}
#contact-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: var(--Accent);
  z-index: 5;
  animation: contactContainer 2s ease-in-out forwards;
}
#contact-container-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 20%;
  height: 100vh;
}
#contact-container-title-text {
  font-size: clamp(2rem, 12vw, 5.2rem);
  color: var(--BgColor);
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
#form-container {
  position: absolute;
  top: 5%;
  width: 70%;
  right: 7.5%;
  height: 55vh;
  background-color: var(--BgColor);
  border: 2px solid var(--BgColor);
  border-radius: 3vw;
}
form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form-input-field {
  text-align: center;
  height: 8%;
  background-color: var(--Accent);
  color: var(--BgColor);
  border: none;
  border-radius: 2vw;
}
textarea {
  width: 80%;
  height: 20%;
  background-color: var(--Accent);
  color: var(--BgColor);
  padding: 1vw;
  border: none;
  border-radius: 2vw;
}
#send-button {
  font-size: clamp(1rem, 5vw, 2rem);
  font-family: Russo One;
  padding: clamp(0.2rem, 2vw, 0.5rem);
  color: var(--BgColor);
  background-color: var(--Accent);
  border: none;
  border-radius: 2vw;
}
#email-popup {
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%;
  height: 20%;
  background-color: var(--BgColor);
}
#links-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 70%;
  width: 70%;
  right: 7.5%;
  height: 15vh;
  background-color: #131313;
  border: 2px solid var(--BgColor);
  border-radius: 3vw;
}

.close-button1,
#close-button2 {
  position: absolute;
  top: 90%;
  left: 46%;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: transparent;
  font-size: 5vw;
  font-family: Russo One;
}
.close-button1 {
  border: 0.7vw solid var(--Accent);
  color: var(--Accent);
}
#close-button2 {
  border: 0.7vw solid var(--BgColor);
  color: var(--BgColor);
}
#close-button-projects {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: transparent;
  font-size: 5vw;
  font-family: Russo One;
  border: 0.7vw solid var(--Accent);
  color: var(--Accent);
}
#tsparticles {
  position: absolute;
  z-index: -1;
}
@keyframes nameOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes about-text {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100%);
  }
  25.5% {
    transform: translateX(145%) translateY(160%) rotateZ(90deg);
  }
  50% {
    transform: translateX(145%) translateY(550%) rotateZ(90deg);
  }
  51% {
    transform: translateX(100%) translateY(720%) rotateZ(180deg);
  }
  75% {
    transform: translateX(0) translateY(720%) rotateZ(180deg);
  }
  76% {
    transform: translateX(-40%) translateY(550%) rotateZ(270deg);
  }
  99.5% {
    transform: translateX(-40%) translateY(200%) rotateZ(270deg);
  }
  100% {
    transform: translateX(0) rotateZ(360deg);
  }
}

@keyframes projectsText1 {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(135%);
  }
}
@keyframes projectsText2 {
  0%,
  100% {
    transform: translateY(0) rotateZ(90deg);
  }
  50% {
    transform: translateY(460%) rotateZ(90deg);
  }
}
@keyframes projectsText3 {
  0%,
  100% {
    transform: translateX(0%) rotateZ(-180deg);
  }
  50% {
    transform: translateX(-135%) rotateZ(-180deg);
  }
}
@keyframes projectsText4 {
  0%,
  100% {
    transform: translateY(0) rotateZ(-90deg);
  }
  50% {
    transform: translateY(-460%) rotateZ(-90deg);
  }
}
@keyframes nameOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contactText {
  0%,
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  15% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  15.5% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateX(70%) translateY(730%);
    opacity: 0;
  }
  26%,
  40% {
    transform: translateX(70%) translateY(730%);
    opacity: 1;
  }
  40.5% {
    transform: translateX(70%) translateY(730%);
    opacity: 0;
  }
  50% {
    transform: translateX(70%) translateY(0);
    opacity: 0;
  }
  50.5% {
    transform: translateX(70%) translateY(0);
    opacity: 1;
  }
  65% {
    transform: translateX(70%) translateY(0);
    opacity: 1;
  }
  65.5% {
    transform: translateX(70%) translateY(0);
    opacity: 0;
  }
  75% {
    transform: translateX(0%) translateY(730%);
    opacity: 0;
  }
  75.5%,
  90% {
    transform: translateX(0%) translateY(730%);
    opacity: 1;
  }
  90.5%,
  95% {
    transform: translateX(0%) translateY(730%);
    opacity: 0;
  }
  96% {
    transform: translateX(0%) translateY(0%);
    opacity: 0;
  }
}
@keyframes projectsSection {
  0% {
    width: 0;
    height: 0;
    border: clamp(0.3rem, 1vw, 1rem) solid var(--Accent);
  }
  90% {
    border: clamp(0.3rem, 1vw, 1rem) solid var(--Accent);
  }
  100% {
    border: none;
    width: 100vw;
    height: 200vh;
    border-radius: 0%;
  }
}
@keyframes aboutContainer1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes aboutContainer2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes contactContainer {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(-50%);
  }
  40% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(-25%);
  }
  80% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (orientation: portrait) and (min-width: 500px) {
  .scene {
    top: 25vh;
    left: 30vw;
    width: 40vw;
    height: 40vw;
  }
  .cube-face {
    width: 40vw;
    height: 40vw;
  }
  .face-front {
    transform: rotateY(0deg) translateZ(20vw);
  }
  .face-right {
    transform: rotateY(90deg) translateZ(20vw);
  }
  .face-back {
    transform: rotateY(180deg) translateZ(20vw);
  }
  .face-left {
    transform: rotateY(-90deg) translateZ(20vw);
  }
  .face-top {
    transform: rotateX(90deg) translateZ(20vw);
  }
  .face-bottom {
    transform: rotateX(-90deg) translateZ(20vw);
  }
}
@media screen and (orientation: landscape) {
  .scene {
    top: 20vh;
    left: 40vw;
    width: 20vw;
    height: 20vw;
    perspective: 3000px;
  }
  .cube-face {
    width: 20vw;
    height: 20vw;
  }
  .face-front {
    transform: rotateY(0deg) translateZ(10vw);
  }
  .face-right {
    transform: rotateY(90deg) translateZ(10vw);
  }
  .face-back {
    transform: rotateY(180deg) translateZ(10vw);
  }
  .face-left {
    transform: rotateY(-90deg) translateZ(10vw);
  }
  .face-top {
    transform: rotateX(90deg) translateZ(10vw);
  }
  .face-bottom {
    transform: rotateX(-90deg) translateZ(10vw);
  }
  #switch-container {
    width: 4%;
    height: 26%;
    border: 3px solid var(--Accent);
  }
  .switch {
    width: 2vw;
    height: 2vw;
    background-color: var(--Accent);
    border-radius: 50%;
    transition: transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
  }
  .name {
    font-size: clamp(1rem, 3.5vw, 3.5rem);
  }
  #title {
    top: 3vw;
    font-size: clamp(0.7rem, 1.5vw, 2.3rem);
  }
  .click {
    font-size: clamp(1rem, 1.8vw, 1.8rem);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  #about-text {
    font-size: clamp(0.6rem, 2vw, 2.7rem);
  }
  #contact-text {
    font-size: clamp(0.6rem, 2vw, 2.7rem);
  }
  #projects-text1 {
    font-size: clamp(0.6rem, 2vw, 2.7rem);
  }
  #projects-text2 {
    font-size: clamp(0.6rem, 2vw, 2.7rem);
  }
  #projects-text3 {
    font-size: clamp(0.6rem, 2vw, 2.7rem);
  }
  #projects-text4 {
    font-size: clamp(0.6rem, 2vw, 2.7rem);
  }
  #projects-container {
    width: 100%;
    height: 50%;
  }
  #projects {
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  .project-name {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    text-align: center;
  }
  .flip-card-back {
    padding: 1vw;
    font-size: clamp(0.5rem, 1.1vw, 1.8rem);
  }
  .close-button1,
  #close-button2 {
    left: 48.5%;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    cursor: pointer;
  }
  .close-button1 {
    top: 80%;
    border: 0.3vw solid var(--Accent);
  }
  #close-button2 {
    top: 88%;
    border: 0.3vw solid var(--BgColor);
  }
  #close-button-projects {
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    border: 0.3vw solid var(--Accent);
    cursor: pointer;
  }
  #contact-container-title-text {
    font-size: clamp(1rem, 3.5vw, 5.2rem);
  }
  #form-container {
    top: 5%;
    width: 40%;
    left: 30%;
    height: 55vh;
    border-radius: 0.5vw;
  }
  .form-input-field {
    border-radius: 0.5vw;
  }
  textarea {
    border-radius: 0.5vw;
  }
  #send-button {
    font-size: clamp(1rem, 2vw, 3rem);
    border-radius: 0.5vw;
    cursor: pointer;
  }
  #links-container {
    width: 40%;
    height: 15vh;
    left: 30%;
    background-color: #131313;
    border: 2px solid var(--BgColor);
    border-radius: 0.5vw;
  }
  #about-title1 {
    font-size: clamp(1rem, 4vw, 6rem);
    top: 84%;
  }
  #about-title2 {
    font-size: clamp(1rem, 4vw, 6rem);
  }
  #controls-container {
    top: 77%;
    height: 20vh;
  }
  #contact-main-button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #projects-button,
  #contact-button,
  #about-button,
  #main-button {
    font-size: 1.5vw;
    padding: 0.4vw;
    border-radius: 0.5vw;
    cursor: pointer;
  }
}
@media screen and (orientation: landscape) and (max-width: 900px) {
  #about-title1 {
    font-size: clamp(1rem, 4vw, 3rem);
    top: 84%;
  }
  #about-title2 {
    font-size: clamp(1rem, 4vw, 3rem);
  }
  #about-container1-text,
  #about-container2-text {
    padding: clamp(0.5rem, 1vw, 1rem);
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  #githubIcon,
  #linkedinIcon {
    transform: scale(0.7);
  }
}
@media screen and (orientation: landscape) and (min-width: 1200px) {
  #project-container-title {
    display: none;
  }
  #project-container-title-desktop {
    display: contents;
    font-size: clamp(1.2rem, 6vw, 2.2rem);
  }
  .deployed-link {
    text-decoration: none;
    color: var(--BgColor);
    position: relative;
  }
  .deployed-link::after {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 15%;
    width: 100%;
    height: 40%;
    background-color: var(--BgColor);
    z-index: -1;
  }
  .deployed-link:hover,
  .deployed-link:hover::after {
    color: var(--Accent);
    left: 0;
    bottom: 0;
    height: 100%;
    transition-duration: 0.5s;
  }
  #close-button1:hover {
    transform: scale(1.1);
    transition-duration: 0.25s;
  }
  #close-button2:hover {
    transform: scale(1.1);
    transition-duration: 0.25s;
  }
  #close-button-projects:hover {
    transform: scale(1.1);
    transition-duration: 0.25s;
  }
}
