:root {
  --BgColor: #131313;
  --Accent: #d4d4d4;
}
@media only screen and (orientation: portrait) {
  #landscape {
    display: none;
  }
  #theme-container {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1;
  }
  #switch-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 15vw;
    height: 35%;
    border: 2px solid var(--Accent);
    background-color: var(--BgColor);
    border-radius: 5vw;
  }
  .switch {
    width: 7vw;
    height: 7vw;
    background-color: var(--Accent);
    border-radius: 50%;
    transition: transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
  }

  .scene {
    position: absolute;
    top: 50vw;
    left: 20vw;
    width: 60vw;
    height: 60vw;
    perspective: 600px;
  }
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s linear;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -webkit-transform 1s linear;
    -moz-transform-style: preserve-3d;
  }

  .cube-face {
    display: flex;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--Accent);
    color: var(--BgColor);
  }

  .face-front {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(0deg) translateZ(30vw);
    transform-style: preserve-3d;
  }
  .face-right {
    transform: rotateY(90deg) translateZ(30vw);
  }
  .face-back {
    transform: rotateY(180deg) translateZ(30vw);
  }
  .face-left {
    transform: rotateY(-90deg) translateZ(30vw);
  }
  .face-top {
    transform: rotateX(90deg) translateZ(30vw);
  }
  .face-bottom {
    transform: rotateX(-90deg) translateZ(30vw);
  }
  .name {
    font-size: 8vw;
    transform: translateZ(5vw);
  }
  #title {
    position: relative;
    top: 5vw;
    font-size: 5vw;
  }
  #about-click {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #about-text1 {
    position: absolute;
    left: 0;
    top: 0;
    animation: about-text 10s linear infinite;
    animation-delay: 0.8s;
  }
  #about-text2 {
    position: absolute;
    left: 45%;
    top: 0;
    animation: me-text 10s linear infinite;
  }
  @keyframes about-text {
    0% {
      left: 0%;
      top: 0;
    }
    20% {
      left: 60%;
      transform: rotateZ(0deg);
    }
    21% {
      left: 70%;
      transform: rotateZ(90deg);
      top: 0;
    }
    40% {
      transform: rotateZ(90deg);
      left: 70%;
      top: 70%;
    }
    41% {
      top: 80%;
      transform: rotateZ(180deg);
    }
    60% {
      top: 80%;
      left: 0%;
      transform: rotateZ(180deg);
    }
    61% {
      transform: rotateZ(270deg);
      left: -10%;
    }
    90% {
      top: 10%;
      left: -10%;
      transform: rotateZ(270deg);
    }
    91% {
      left: 0%;
      top: 0;
      transform: rotateZ(360deg);
    }

    100% {
      transform: rotateZ(360deg);
      left: 0;
      top: 0;
    }
  }
  @keyframes me-text {
    0% {
      left: 45%;
      top: 0;
    }
    20% {
      left: 80%;
      transform: rotateZ(0deg);
    }
    21% {
      transform: rotateZ(90deg);
      top: 0;
    }
    40% {
      transform: rotateZ(90deg);
      left: 80%;
      top: 80%;
    }
    41% {
      transform: rotateZ(180deg);
    }
    60% {
      top: 80%;
      left: 0;
      transform: rotateZ(180deg);
    }
    61% {
      transform: rotateZ(270deg);
    }
    80% {
      top: 0;
      left: 0;
      transform: rotateZ(270deg);
    }
    81% {
      transform: rotateZ(360deg);
    }
    100% {
      transform: rotateZ(360deg);
      left: 45%;
      top: 0;
    }
  }
  #controls-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10vw;
    width: 100%;
    height: 20vh;
    background-color: transparent;
  }
  #contact-main-button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #projects-button,
  #contact-button,
  #about-button,
  #main-button {
    color: var(--BgColor);
    background-color: var(--Accent);
    font-size: 5vw;
    font-family: Russo One;
    padding: 2vw;
    border: none;
    border-radius: 4vw;
  }
  #tsparticles {
    position: absolute;
    z-index: -1;
  }
}
