*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--BgColor);
  color: var(--Accent);
  font-family: Russo One;
}
@media screen and (orientation: landscape) {
  body {
    overflow-y: hidden;
  }
}
@font-face {
  font-family: Russo One;
  src: url('./fonts/RussoOne-Regular.ttf');
}
